<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8">
        <title>Algo-point</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid bg-grey text-black">
          <h1 style="text-align: center; color: brown;"><a href = "home" style="color: brown;">Algo-point</a></h1>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="background-color:lavender;"><h2 style="text-align: center;">Glossary</h2>
                <ul class="nav flex-column">
                    <li class ="nav-item"><h6>&ensp;Time Complexity</h6></li>
                    <ul>
                        <li class = "nav-item"><a href ="aanalysis"> Asymptotic Analysis </a></li>
                        <li class = "nav-item"><a href="thetano">Theta Notation</a></li>
                        <li class = "nav-item"><a href= "bigono">Big-O Notation</a></li>
                        <li class = "nav-item"><a href="omegano">Omega Notation</a></li>
                    </ul>
                    <li class ="nav-item"><h6>&ensp;Searching Algorithms</h6></li>
                    <ul>
                        <li class="nav-item"><a href="linearsearch">Linear Search</a></li>
                        <li class="nav-item"><a href = "binarysearch">Binary Search</a></li>
                    </ul>
                    <li class ="nav-item"><h6>&ensp; Sorting Algorithms</h6></li>
                    <ul>
                        <li class="nav-item"><a href ="selectionsort">Selection Sort</a></li>
                        <li class="nav-item"><a href = "bubblesort">Bubble Sort</a></li>
                        <li class="nav-item"><a href = "insertionsort">Insertion Sort</a></li>
                        <li class="nav-item"><a href = "countingsort">Counting Sort</a></li>
                    </ul>
                    <li class ="nav-item"><h6>&ensp;Graph Algorithms</h6></li>
                    <ul>
                        <li class="nav-item"><a href = "bfs">Breadth First Search(BFS)</a></li>
                        <li class="nav-item"><a href = "dfs">Depth First Search(DFS)</a></li>
                        <li class="nav-item"><a href = "prim">Prim Algorithm</a></li>
                        <li class="nav-item"><a href = "kruskal">Kruskal Algorithm</a></li>
                        <li class="nav-item"><a href = "warshall">Dijkstra Alorithm</a></li>
                    </ul>
                    <li class ="nav-item"><h6>&ensp;Tree Operations</h6></li>
                    <ul>
                        <li class="nav-item"><a href = "inordertree">Inorder</a></li>
                        <li class="nav-item"><a href = "searchtree">Search</a></li>
                        <li class="nav-item"><a href = "inserttree">Insert</a></li>
                        <li class="nav-item"><a href = "deletetree">Delete</a></li>
                    </ul>
                    <li class="nav-item"><h6>&ensp;Applications of Algorithms</h6></li>
                    <ul>
                        <li class="nav-item"><a href="table">Truth Table Generator</a></li>
                    </ul>
                </ul>  
            </div>
            <div class="col-sm-10" style="background-color:lavenderblush;"><h2 style="text-align: center;">Theory</h2>
                <p style="font-size: large; color: black; text-align: left;">Binary Search is a faster way of searching elements in a sorted array.<br>
                Binary Search Algorithm can be implemented in two ways - the iterative and the recursive method. The recursive method follows the divide and conquer approach.<br>
                Both the methods have been discussed below. <br><br>
                Pseudo-code for iterative method<br> 
                binarySearch(arr, x, low, high) {where arr is the array to be searched, x is the element to be searched, low is the index of the first element and high is the index of the last element.}
                <br>
                <ol>
                    <li>Run the loop until the pointers low and high meet each other.</li>
                    <li>mid = (low + high)/2</li>
                    <li> if (x == arr[mid])
                        return mid</li>
                    <li> else if (x > A[mid])
                        low = mid + 1</li>
                    <li>else high = mid - 1</li>
                </ol></p>
                <p  style="font-size: large; color: black; text-align: left;">
                    Pseudo-code for recursive method<br> 
                    binarySearch(arr, x, low, high) {where arr is the array to be searched, x is the element to be searched, low is the index of the first element and high is the index of the last element.}
                    <br>
                    <ol>
                        <li>if low > high
                            return False
                         </li>
                        <li>
                            else
                            mid = (low + high) / 2 
                        </li>
                        <li>
                            if x == arr[mid]
                                 return mid
                        </li>
                        <li> else if x < data[mid]   
                            return binarySearch(arr, x, mid + 1, high)
                        </li>
                        <li>else                      
                            return binarySearch(arr, x, low, mid - 1)
                        </li>
                    </ol>
                </p>
                <p  style="font-size: large; color: black; text-align: left;">
                    The time complexity of Binary Search is O(logn).<br>
                    The space complexity of Binary Search is O(n).<br>
                    </p>
            </div>  
          </div>
        </body>
</html>