<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8">
        <title>Algo-point</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid bg-grey text-black">
          <h1 style="text-align: center; color: brown;"><a href = "home" style="color: brown;">Algo-point</a></h1>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="background-color:lavender;"><h2 style="text-align: center;">Glossary</h2>
                <ul class="nav flex-column">
                    <li class ="nav-item"><h6>&ensp;Time Complexity</h6></li>
                    <ul>
                        <li class = "nav-item"><a href ="aanalysis"> Asymptotic Analysis </a></li>
                        <li class = "nav-item"><a href="thetano">Theta Notation</a></li>
                        <li class = "nav-item"><a href= "bigono">Big-O Notation</a></li>
                        <li class = "nav-item"><a href="omegano">Omega Notation</a></li>
                    </ul>
                    <li class ="nav-item"><h6>&ensp;Searching Algorithms</h6></li>
                    <ul>
                        <li class="nav-item"><a href="linearsearch">Linear Search</a></li>
                        <li class="nav-item"><a href = "binarysearch">Binary Search</a></li>
                    </ul>
                    <li class ="nav-item"><h6>&ensp; Sorting Algorithms</h6></li>
                    <ul>
                        <li class="nav-item"><a href ="selectionsort">Selection Sort</a></li>
                        <li class="nav-item"><a href = "bubblesort">Bubble Sort</a></li>
                        <li class="nav-item"><a href = "insertionsort">Insertion Sort</a></li>
                        <li class="nav-item"><a href = "countingsort">Counting Sort</a></li>
                    </ul>
                    <li class ="nav-item"><h6>&ensp;Graph Algorithms</h6></li>
                    <ul>
                        <li class="nav-item"><a href = "bfs">Breadth First Search(BFS)</a></li>
                        <li class="nav-item"><a href = "dfs">Depth First Search(DFS)</a></li>
                        <li class="nav-item"><a href = "prim">Prim Algorithm</a></li>
                        <li class="nav-item"><a href = "kruskal">Kruskal Algorithm</a></li>
                        <li class="nav-item"><a href = "warshall">Dijkstra Alorithm</a></li>
                    </ul>
                    <li class ="nav-item"><h6>&ensp;Tree Operations</h6></li>
                    <ul>
                        <li class="nav-item"><a href = "inordertree">Inorder</a></li>
                        <li class="nav-item"><a href = "searchtree">Search</a></li>
                        <li class="nav-item"><a href = "inserttree">Insert</a></li>
                        <li class="nav-item"><a href = "deletetree">Delete</a></li>
                    </ul>
                    <li class="nav-item"><h6>&ensp;Applications of Algorithms</h6></li>
                    <ul>
                        <li class="nav-item"><a href="table">Truth Table Generator</a></li>
                    </ul>
                </ul>  
            </div>
            <div class="col-sm-10" style="background-color:lavenderblush;"><h2 style="text-align: center;">Theory</h2>
                <p style="font-size: large; color: black; text-align: left;">
                    Kruskal's algorithm finds a minimum spanning forest of an undirected edge-weighted graph. If the graph is connected, it finds a minimum spanning tree. (A minimum spanning tree of a connected graph is a subset of the edges that forms a tree that includes every vertex, where the sum of the weights of all the edges in the tree is minimized. For a disconnected graph, a minimum spanning forest is composed of a minimum spanning tree for each connected component.) It is a greedy algorithm in graph theory as in each step it adds the next lowest-weight edge that will not form a cycle to the minimum spanning forest.<br>
                    <br>Pseudo-Code<br>
                    <ol>
                    <li>Sort all the edges in non-decreasing order of their weight.</li>
                    <li>Pick the smallest edge. Check if it forms a cycle with the spanning tree formed so far. If cycle is not formed, include this edge. Else, discard it.</li>
                    <li>Repeat step#2 until there are (V-1) edges in the spanning tree.</li>                   </li>    
                    </ol>
                </p>
                <p style="font-size: large; color: black; text-align: left;">
                    Time-complexity: O(ElogV) or O(ElogE), where V is number of vertices and E is number of edges.<br>
                    Proof of Time Complexity<br>
                    Sorting of edges takes O(ELogE) time. After sorting, we iterate through all edges and apply find-union algorithm. The find and union operations can take at most O(LogV) time. So overall complexity is O(ELogE + ELogV) time. The value of E can be at most O(V2), so O(LogV) are O(LogE) same. Therefore, overall time complexity is O(ElogE) or O(ElogV).
                </p>
            </div>  
          </div>
        </body>
</html>